body {
    background-color: #F5F6FA;
    color: #4d4d4d;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
}

address {
    text-decoration: none;
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #0072F0;
}

.general-aligner {
    max-width: 1200px;
    height: 500px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
}


/* Header */
header {
    width: inherit;
    padding: 35px 0px;
    border-bottom: solid 2px #cdd0dc;
    display: flex;
    align-items: center;
}

header > .header-col-2 {
    width: 100%;
    text-align: right;
    position: relative;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header ul > li {
    display: inline-block;
    margin-left: 20px;
    font-weight: 500;
}

header ul > li:first-child {
    margin-left: 0;
}

#header-logo {
    width: 200px;
}


/* Text heading */
.text-heading {
    text-align: center;
    padding: 100px 0px;
}

.text-heading h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #1B1443;
}

.text-heading p {
    font-size: 1.15em;
    line-height: 1.8;
}


/* MEDIA QUERIES */
@media screen and (max-width: 800px) {

    body {
        font-size: 16px;
    }

    .text-heading {
        padding: 50px 0px;
    }

    .text-heading h1 {
        font-size: 32px;
    }

}

@media screen and (max-width: 660px) {

    .general-aligner {
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media screen and (max-width: 600px) {

    header nav {
        background-color: #FFF;
        padding: 20px;
        width: 100px;
        position: absolute;
        right: 45px;
        top: 0px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        display: none;
        z-index: 10;
    }

    header nav li {
        display: block;
        margin: 0;
    }

    header nav a {
        padding: 5px 0px;
        display: block;
    }

    #toggle-mobile-nav {
        display: block !important;
        font-size: 2em;
        cursor: pointer;
        color: #0072F0;
    }

    #toggle-mobile-nav:hover {
        color: #0022AC;
    }

    body.mobile-nav-visible header nav {
        display: block !important;
    }

}